@{
    ViewBag.Title = "Korsordshjälp.nu";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

<div class="jumbotron">
    <h1>Behöver du hjälp med korsordet?</h1>
    <p class="lead">Klicka på antalet bokstäver som ordet innehåller, fyll i de bokstäver du känner till och klicka på "Sök ord!" så får du förslag på ord som passar in. Inte svårare än så!</p>
    <p class="label label-danger" data-bind="text: error"></p>
    <div>
        <form data-bind="submit: search">
            <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
                <div>
                    <div data-bind="foreach: patterns" class="panel-group" id="accordion" style="margin-bottom: 20px;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-bind="attr: { href: '#collapse' + $index() }">
                                        Ord <span data-bind="text: $index() + 1"></span>: <span data-bind="text: pattern"></span>
                                        <a href="#" class="close" data-bind="visible: $parent.patterns().length > 1, click: function () { $parent.patterns.remove($data); }">&times;</a>
                                    </a>
                                </h4>
                            </div>
                            <div data-bind="attr: { id: 'collapse' + $index() }, collapseShow: $index() > 0, css: { in: $index() == 0 }" class="panel-collapse collapse" data-parent="#accordion">
                                <div class="panel-body">
                                    <div class="form-group" data-bind="visible: $parent.patterns().length > 1">
                                        <label>Var finns ordet?</label>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                Kolumn <input data-bind="value: DX" class="form-control" type="number"/> 
                                            </div>
                                            <div class="col-sm-4">
                                                Rad <input data-bind="value: DY" class="form-control" type="number"/> 
                                            </div>
                                            <div class="col-sm-4">
                                                Riktning <select data-bind="value: direction" class="form-control">
                                                             <option value="0">Höger</option>
                                                             <option value="1">Ner</option>
                                                         </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Antal bokstäver</label>
                                        <div data-bind="foreach: $parent.shortcuts" class="btn-group-sm"><a href="#" data-bind="    click: function () { $parent.numLetters($data) }, text: $data, css: { active: $parent.numLetters() == $data }" class="btn btn-default"></a></div>
                                    </div>

                                    <div class="form-group">
                                        <label>Kända bokstäver</label>
                                        <div class="patternInputWrapper">
                                            <a href="#" class="glyphicon glyphicon-remove-circle clearPattern" data-bind="click: clearPattern" title="Rensa"></a>
                                            <input data-bind="value: pattern, numLetterMask: numLetters()" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <button class="btn btn-primary">Sök ord!</button> 
            <a class="btn btn-default" data-bind="click: function () { addPattern(); }"><i class="glyphicon glyphicon-plus"></i></a>
        </form>

    </div>
</div>

<div data-bind="if: matches().length > 0, scrollTo: searched()">
    <div class="row" data-bind="foreach: matches">
        <div class="col-lg-6">
            <h4 data-bind="text: word"></h4>
            <p>
                <a data-bind="attr: { href: googleUrl }">Google</a><br/>
                <a data-bind="attr: { href: wikipediaUrl }">Wikipedia</a>
            </p>
        </div>
    </div>
    <div data-bind="whenVisible: function () { loadMore(); }, visible: hasMore" class="loading-more">Letar efter mer ord...</div>
</div>
<div data-bind="if: matches().length == 0 && hasSearched()" class="no-result">
    Hittade inga ord :(
    <br/><small>Korsordshjalp.nu innehåller de flesta vanliga Svenska ord, men många korsord är luriga och har lösningar som kanske inte riktigt följer Svenska språket. Du får improvisera!</small>
</div>

<div data-bind="if: previousPatterns().length > 0" class="previousPatterns">
    <h3>Tidigare sökningar</h3>
    <div class="row" data-bind="foreach: previousPatterns().reverse()">
        <a class="col-lg-3" data-bind="text: $data, click: $parent.selectPattern" href="#"></a>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
}
